body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  /* background: url("../images/concrete_seamless.png"); */
  background-image: url("../images/beatles-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
}

/* general */

.container {
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
  margin-top: 75px;
  clear: both;
  /* border: 3px solid #13e035; */
}

/* .col-md-3 {
    border: 3px solid #e90a0a;
}

.col-md-8 {
    border: 3px solid #dddddd;
} */

h1,
h2,
h3,
p {
  margin-bottom: 10px;
  /* border-bottom: 3px solid #777777; */
 }

#instruction
, #winsLabel
, #wins
, #current
, #word-to-guess
, #remain
, #guessed
, #entered
, #result
{
  font-size: 30px;
  text-align: center;
}

#current
{
  color: rgb(243, 247, 8);
}

#remain
{
  color: rgb(74, 247, 6);
}

#instruction
{
  color: rgb(238, 14, 14);
}

#word-to-guess
{
  color: rgb(247, 115, 8);
}

#entered
{
  color: rgb(120, 8, 247);
}

#wins 
,#winsLabel
{
  color: fuchsia;
}

#remaining
, #lettersEntered
{
 text-align: center;  
}

wtg{
   width: 20px;
}

/* span{
    border-bottom: 3px solid #777777;
} */

.newL{
    width: 10px;
    margin: 5px;
    font-size: 30px;
    /* border-bottom: 3px solid #777777;   */
}

/* #jumbo{
  background-color: ;
} */

/* p:last-child {
  margin-bottom: 0;
} */

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  /* color: #4aaaa5; */
  /* color: mintcream; */
  color: gainsboro;
}

h1 {
  /* padding-bottom: 20px; */
  font-size: 30px;
  line-height: 49px;
  /* border-bottom: 3px solid #dddddd; */
}

h2,
h3 {
  font-size: 22px;
}

#solved-img {
  width: 300px;
  border: 0 none;
  opacity: 0.8;
}

